<section>
  <h3>Categories</h3>
  <ul>
    <% @categories.each do |category| %>
      <li>
        <h4><%= category.name%></h4>
        <h6><%=category.show_product%></h6>

      </li>
    <% end %>
  </ul>
</section>
