<h3>pEtsy</h3>

<!-- Needs data -->
<div class="top-margin">
  <h3>Products Offered</h3>
  <section>
    <% @products.each do |product| %>
    <p><%= product.name %></p>
    <p><%= product.price %></p>
    <p><%= product.description %></p>
    <p><%= product.stock %></p>
  </section>

    <% end %>
  </li>
</div>
