<h3>pEtsy</h3>

<!-- Needs data -->
<ul> Products Offered
  <li>
    <% @products.each do |product| %>
    <p><%= product.by_description %></p>
    <% end %>
  </li>
</ul>

<%= image_tag('Plush-Vader.jpg') %>
